@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    background-color: #003566;
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    padding: 1rem;
}

nav ul li a{
    font-family: 'Sacramento', cursive;
    text-decoration: none;
    color: #F2F2F2;
    font-size: 3vw;
}

header#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7b2cbf;
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 100%;
}

header#inicio h1{
    text-align: center;
    color: black;
    font-size: 8vw;
    font-family: 'Sacramento', cursive;
 }

 header#inicio img{
    max-width: 20%;
    padding: 2rem;
 }

section#personagem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c77dff;
    padding-top: 8rem;
    padding-bottom: 8rem;
    width: 100%;
}

section#personagem div img{
    display: auto;
    margin: auto;
    width: 600px;
    padding-top: 4rem;
}

section#personagem div spam{
    font-family: 'Sacramento', cursive;
    font-size: 3vw;
    color: #0D0D0D;
}

section#personagem div p{
    font-size: 2.5vw;
    color: #F2F2F2;
}

section#curiosidades{
    background-color: #e0aaff;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

section#curiosidades div h2{
    font-size: 4vw;
    text-align: center;
    font-family: 'Sacramento';
}

section#curiosidades div h3{
    font-size: 1.5vw;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
}

section#curiosidades div img{
    display: block;
    margin: auto;
    width: 70%;
    
}

section#humor{
    background-color: #cddcdf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    text-align: center;
}
 
section#humor div p{
    font-size: 1.5vw;
    text-align: center;
    padding-top: 1rem;
}
 
section#humor div button{
    border: 4px dotted #0D0D0D;
    border-radius: 2rem;
    background-color: #F2E291;
    color: #0D0D0D;
    padding: .8rem;
    font-size: 1.2vw;
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
    transition: .7s ease-out;
}

section#humor div button:hover{
    border: 4px dotted #F28705;
    background-color: #F28705;
    color: #F2F2F2;
}

section#humor div img{
    padding-top: 2rem;
    width: 70%;
}

section#humor div p#texto{
    text-align: center;
    padding-bottom: 1rem;
}
footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #003566;
    color: #fff;
    width: 100%;
    line-height: 30px;
    padding: .6rem;
}

footer p{
    width: 100%;
    text-align: center;
    font-size: .8rem;
}